<% include ./partials/head %>

<link rel="stylesheet" href="/stylesheets/case-study.css">

<meta property="og:url" content="http://www.inastra.co/case-studies/<%= caseStudy.id %>">
<meta property="og:title" content="Inastra | <%= caseStudy.organisation.name %>">
<meta property="og:image" content="https://www.inastra.co/images/clients/<%= caseStudy.ad_img %>" />

<% include ./partials/head-bottom %>
<% include ./components/nav %>

<main>
    <section id="hero">
        <div class="container">
            <h1><%= caseStudy.title %></h1>
        </div>
    </section>
    <section id="subtitle">
        <div class="container">
            <div class="client-logo">
                <img src="/images/clients/<%= caseStudy.organisation.logo %>" alt="">
            </div>
            <div class="subtitle-content">
                <h2><%= caseStudy.subtitle %></h2>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="introduction">
                <p><%= caseStudy.introduction.full %></p>
            </div>
            <div class="content-header">
                <h3>Challenge</h3>
            </div>
            <div class="content-body">
                <p><%= caseStudy.challenge.full %></p>
            </div>
            <div class="content-header">
                <h3>Process</h3>
            </div>
            <div class="content-body">
                <p><%= caseStudy.process.full %></p>
            </div>
            <div class="content-header">
                <h3>Results</h3>
            </div>
            <div class="content-body">
                <p><%= caseStudy.results.full %></p>
            </div>
        </div>
    </section>
    <section id="testimonial">
        <div class="container">
            <div class="testimonial-content">
                <p><%- caseStudy.testimonial.quote.selected %></p>
                <div class="testimonial-details">
                    <p class="name"><%= caseStudy.testimonial.name %></p>
                    <p class="title"><%= caseStudy.testimonial.title %></p>
                </div>
            </div>
        </div>
    </section>
</main>

<div id="particle-js"></div>

<% include ./components/footer %>