<% include ./partials/head %>

<meta name="description" content="Inastra is a creative intelligence consultancy delivering meaningful solutions to complex problems. We do this through transdisciplinary innovation, the cross-pollination of processes between knowledge-bases to form new ways of thinking.">

<meta property="og:url" content="http://inastra.co">
<meta property="og:description" content="Inastra is a creative intelligence consultancy delivering meaningful solutions to complex problems. We do this through transdisciplinary innovation, the cross-pollination of processes between knowledge-bases to form new ways of thinking.">

<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js" integrity="sha512-SttpKhJqONuBVxbRcuH0wezjuX+BoFoli0yPsnrAADcHsQMW8rkR84ItFHGIkPvhnlRnE2FaifDOUw+EltbuHg==" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/stylesheets/index.css">
<script src="/javascripts/index.js"></script>

<% include ./partials/head-bottom %>
<% include ./components/nav %>

<main>
    <section id="hero" class="hero">
        <div class="eos-container">
            <div class="hero-content">
                <h1 class="hero-text">Creativity is not a talent,<br> it's a way of thinking.</h1>
            </div>
            <div class="hero-img" data-tilt-full-page-listening>
                <img src="/images/brand/logos/icon.png" alt="Inastra icon">
            </div>
        </div>
    </section>
    <div class="wave-section alternate-colours">
        <!-- <section id="tagline" class="feature">
            <div class="eos-container fade-in fade-up">
                <p class="section-text">Inastra uses <b>transdisciplinary innovation</b> to <b>supercharge your creativity</b> and deliver <b>meaningful solutions</b> to complex problems.</p>
            </div>
        </section> -->
        <section id="case-studies" class="side text-img">
            <div class="eos-container">
                <div class="section-content fade-in fade-up">
                    <div class="section-header">
                        <p class="section-name">Case Study</p>
                        <h2 class="section-title">
                            <%= caseStudy.organisation.name %>
                        </h2>
                        <hr class="section-underline">
                    </div>
                    <p class="section-text">
                        <%= caseStudy.subtitle %>
                    </p>
                    <a href="/case-studies/<%= caseStudy.id %>" class="eos-btn section-btn">Learn more</a>
                </div>
                <div class="section-img fade-in fade-left">
                    <img src="/images/clients/<%= caseStudy.organisation.logo %>" alt="IHG Logo">
                </div>
            </div>
        </section>
        <section id="services" class="options">
            <div class="eos-container">
                <div class="section-header">
                    <p class="section-name">Services</p>
                    <h2 class="section-title">Our Areas of Expertise</h2>
                    <hr class="section-underline">
                </div>
                <div class="section-content">
                    <% services.forEach(service => { %>
                    <a href="/services" class="eos-btn eos-btn--flat option">
                        <h3 class="option__title"><%= service.title %> </h3>
                        <p class="option__text"><%= service.subtitle %> </p>
                    </a>
                    <% }) %>
                </div>
            </div>
        </section>
        <section id="approach" class="side img-text">
            <div class="eos-container">
                <div class="section-img fade-in fade-up">
                    <img src="/images/transdisciplinary.png" alt="">
                </div>
                <div class="section-content fade-in fade-left">
                    <div class="section-header">
                        <p class="section-name">Approach</p>
                        <h2 class="section-title">Transdisciplinarity</h2>
                        <hr class="section-underline">
                    </div>
                    <p class="section-text">The best outcomes are achieved when people with a broad spectrum of experiences collaborate. As their methodologies interact, they evolve to form new ways of thinking and doing.</p>
                    <p class="section-text">This is called <b>transdisciplinary innovation</b>, and our team is uniquely trained in this approach to problem solving.</p>
                </div>
            </div>
        </section>
    </div>
    <section id="contact" class="side hero">
        <div class="eos-container">
            <div class="section-header fade-in fade-up">
                <p class="section-name">Contact</p>
                <h2 class="section-title">Let's get started.</h2>
                <hr class="section-underline">
                <p class="section-text">We are excited by unique challenges and people who are eager to drive change. What could we create together?</p>
            </div>
            <div class="section-content fade-in fade-left">
                <form action="/api/contact-form" method="POST" id="contact" class="contact">
                    <div class="input-wrapper input-purple validate-fullName required" id="name">
                        <label for="name" class="form-label">Full Name</label>
                        <input type="text" class="form-input" id="name" name="name">
                    </div>
                    <div class="input-wrapper input-purple validate-email required" id="email">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-input" id="email" name="email">
                    </div>
                    <div class="input-wrapper input-purple required" id="company">
                        <label for="company" class="form-label">Company</label>
                        <input type="text" class="form-input" id="company" name="company">
                    </div>
                    <div class="input-wrapper input-purple validate-mobileNumber required" id="phone">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="tel" class="form-input" id="phone" name="phone">
                    </div>
                    <div class="input-wrapper input-purple" id="message">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-input" name="message" id="message" rows="4"></textarea>
                    </div>
                    <button type="submit" id="submit" class="eos-btn eos-btn--filled eos-btn--purple">Submit</button>
                </form>
            </div>
        </div>
    </section>
</main>

<div id="particle-js"></div>

<% include ./components/footer %>