<% include ./partials/head %>

<link rel="stylesheet" href="/stylesheets/insights.css">
<script src="/javascripts/insights.js"></script>

<% include ./partials/head-bottom %>
<% include ./components/nav %>
<main id="posts">
    <section id="hero" class="insights">
        <div class="hero-content">
            <h1>Insights</h1>
        </div>
    </section>
    <% if(posts.length > 0) { %>
    <section class="main top-wave bottom-wave">
        <div class="eos-container">
            <% posts.forEach(post => { %>
            <a class="eos-card" id="<%= post.id %>" href="/insights/<%= post.id %>">
                <span class="eos-card__img" style="background-image: url(<%= post.thumbnail %>);"></span>
                <div class="eos-card__header">
                    <h3 class="eos-card__title"><%= post.title %></h3>
                </div>
                <div class="eos-card__content">
                    <p><span class="post__author"><%= post.author %></span><span class="post-card_date"><%= post.date %></span></p>
                    <div class="post__tags">
                        <% post.categories.forEach(cat => { %>
                        <span class="eos-tag"><%= cat %></span>
                        <% }) %>
                    </div>
                </div>
            </a>
            <% }) %>
        </div>
    </section>
    <% } else { %>
    <section class="main top-wave bottom-wave" id="no-posts">
        <div class="eos-container">
            <p>Unfortunately there's no insights posts here yet!</p>
            <p>Check back later for new content.</p>
        </div>
    </section>
    <% } %>
</main>

<div id="particle-js"></div>

<% include ./components/footer %>